<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<!-- <h4 id="heading">Example 1</h4> -->
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// CREATE ARRAY
// Arrays are ordered lists of values, of any type.
var myArray = ["Hello", 45, true];
print(`myArray: ${JSON.stringify(myArray)}`);

// Their members can be accessed using the square-brackets subscript syntax.  Array indices start at zero.
print(`myArray[1]: ${myArray[1]}`);

// Add or Modify at specific index
myArray[3] = "World";
print(`myArray[3]: ${myArray[3]}`);
print(`myArray: ${JSON.stringify(myArray)}`);
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ACCESS INDEX OF ARRAY
var fruits = ['Apple', 'Banana'];
var first = fruits[0];
var last = fruits[fruits.length - 1];
print("first=" + first);
print("last=" + last);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// LOOP OVER AN ARRAY
var fruits = ['Apple', 'Banana'];
fruits.forEach(function(item, index, fruits) {
	print(item, index);
});
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ADD TO END OF ARRAY 
var fruits = ['Apple', 'Banana'];

// The push() method adds one or more elements to the end of an 
// array and returns the new length of the array.
var newLength = fruits.push('Orange');
print("newLength="+newLength);
print("fruits="+fruits);

// Be careful when working with length. The length
// of the array after initializing index 4 to "Bob" is five
// and not 4 since arrays are zero-based objects.
var students = [];
students[4] = "Bob";
print(`students.length: ${students.length}`);

// You can manipulate the values of an array that is 
// declared with const.
const fooArray = [1,2,3];
fooArray[3] = 4;
print(`fooArray: ${JSON.stringify(fooArray)}`);

// You cannot reassign const values for any Object in
// JavaScript, though. 
fooArray = [1];
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// REMOVE FROM THE END OF AN ARRAY
var fruits = ['Apple', 'Banana'];
var newLength = fruits.push('Orange');

var removed = fruits.pop(); // remove Orange (from the end)
print("removed=" + removed);
print("fruits="+fruits);
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// REMOVE FROM THE FRONT OF AN ARRAY
var fruits = ['Apple', 'Banana'];
var newLength = fruits.push('Orange');
var removed = fruits.pop(); // remove Orange (from the end)

var removed = fruits.shift(); // remove Apple (from the front)
print("removed=" + removed);
print("fruits="+fruits);	
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// ADD TO THE FRONT OF AN ARRAY
var fruits = ['Apple', 'Banana'];
var newLength = fruits.push('Orange');
var removed = fruits.pop(); // remove Orange (from the end)
var removed = fruits.shift(); // remove Apple (from the front)

var newLength = fruits.unshift('Strawberry') // add to the front
print("newLength="+newLength);
print("fruits="+fruits);
</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// FIND THE INDEX OF AN ITEM IN THE ARRAY
var fruits = ['Apple', 'Banana'];
var newLength = fruits.push('Orange');
var removed = fruits.pop();   // remove Orange (from the end)
var removed = fruits.shift(); // remove Apple (from the front)
var newLength = fruits.unshift('Strawberry') // add to the front

fruits.push('Mango');         // add Mango (to the end of the array)
print("fruits="+fruits);

print(fruits.indexOf('Banana'));
// Since arrays are "zero-based" banana is at pos 1
</textarea>

<!-- ---------------------------- EXAMPLE 9 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// FND THE INDEX OF AN ITEM IN THE ARRAY AND REMOVE
// AN ITEM BY INDEX POSITION (SPLICE)
var fruits = ['Apple', 'Banana'];
var newLength = fruits.push('Orange');
var removed = fruits.pop();   // remove Orange (from the end)
var removed = fruits.shift(); // remove Apple (from the front)
var newLength = fruits.unshift('Strawberry')  // add to the front
fruits.push('Mango');         //add Mango (to the end of the array)

// The splice() method changes the contents of an array by 
// removing or replacing existing elements and/or adding new 
// elements in place.
var position = fruits.indexOf('Banana'); // Get the index of banana
var removed = fruits.splice(position, 1); // this is how to remove an item
printObject("removed=",removed);
print("type of item removed = " + typeof removed);

// Check to see if the original array is affected
print("fruits="+fruits);

// Now use splice on fruits to add items to fruits
fruits.splice(1,2, "Kiwi", "Date"); // ["Mango"] returned 
print("fruits="+fruits);
</textarea>


<!-- ---------------------------- EXAMPLE 10 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// REVERSE AND SORT ARRAYS
// Reverse is as simple as it gets; it reverses the order of the 
// array in place:
var arr = [1, 2, 3, 4, 5];
print(`arr.reverse(): ${arr.reverse()}`); // arr is now [5, 4, 3, 2, 1]
print("");

// Sort sorts an array in place:
var arr = [5, 3, 2, 4, 1];
var sortedNumbers = arr.sort();
print(`sortedNumbers: ${sortedNumbers}`);
print(`arr: ${arr}`); // arr is now [1, 2, 3, 4, 5]
print("");

var items = [
  { name: 'Edward', value: 21 },
  { name: 'Sharpe', value: 37 },
  { name: 'And', value: 45 },
  { name: 'The', value: -12 },
  { name: 'Magnetic', value: 13 },
  { name: 'Zeros', value: 37 }
];

// sort by value
var result = items.sort(function (a, b) {
  return a.value - b.value;
});
printObject("result (by value):", result);
print("");


// sort by name
items.sort(function(a, b) {
  var nameA = a.name.toUpperCase(); // ignore upper and lowercase
  var nameB = b.name.toUpperCase(); // ignore upper and lowercase
  if (nameA < nameB) {
    return -1;
  }
  if (nameA > nameB) {
    return 1;
  }

  // names must be equal
  return 0;
});
printObject("result (by name):", result);
print("");

</textarea>


<!-- ---------------------------- EXAMPLE 11 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var fruits = ['Strawberry', 'Mango'];

// The slice() method returns a copy of a portion 
// of an array into a new array object 
var copy = fruits.slice(); // this is how to make a copy (What if we do .slice(0) ?)
printObject("fruits=", fruits);
printObject("copy=", copy);

// Modify the fruits array and see if the copied array is affected
fruits.push("ugli fruit");
printObject("fruits=", fruits);
printObject("copy=", copy);
</textarea>

<!-- ---------------------------- EXAMPLE 12 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var months = ['Jan', 'March', 'April', 'June'];
print("months (before modification)");
printObject("",months);
months.splice(1, 0, 'Feb');
// inserts at index 1
print("months (after adding Feb)");
printObject("",months);
// expected output: Array ['Jan', 'Feb', 'March', 'April', 'June']

months.splice(4, 1, 'May');
// replaces 1 element at index 4
print("months (Remove June & add May)");
printObject("",months);
// expected output: Array ['Jan', 'Feb', 'March', 'April', 'May']
</textarea>

<!-- ---------------------------- EXAMPLE 13 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Join all elements of an array with the pipe characters
var months = ['Jan', 'Feb', 'March', 'April', 'May'];
print(`months.join("|"): ${months.join("|")}`);

// The original array is not affected
print(`months: ${months}`);

</textarea>

<!-- ---------------------------- EXAMPLE 14 ---------------------------- -->
<!-- Map Example -->
<textarea placeholder="Add JavaScript Here" class="d-none">
const cart = [ { name: "Widget", price: 9.95 }, { name: "Gadget", price: 22.95 }];

const names = cart.map(x => x.name); // ["Widget", "Gadget"]
print(`names: ${names}`);

const prices = cart.map(x => x.price); // [9.95, 22.95]
print(`prices: ${prices}`);

const discountPrices = prices.map(x => x*0.8); // [7.96, 18.36]
print(`discountPrices: ${discountPrices}`);

const lcNames = names.map(x => x.toLowerCase()); // ["widget", "gadget"]
print(`lcNames: ${lcNames}`);

printObject("cart:", cart); // Not modified
</textarea>

<!-- ---------------------------- EXAMPLE 15 ---------------------------- -->
<!-- Filter Example -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// create a deck of playing cards
const cards = [];
for (let suit of ['H', 'C', 'D', 'S']) { // hearts, clubs, diamonds, spades
	for (let value=1; value<=13; value++) {
		cards.push({ suit, value });
	}
}

// get all cards with value 2:
var twos = cards.filter(c => c.value === 2); 
                                  // [
                                  //  { suit: 'H', value: 2 },
                                  //  { suit: 'C', value: 2 },
                                  //  { suit: 'D', value: 2 }, 
                                  //  { suit: 'S', value: 2 }
                                  // ]
printObject("twos:", twos);
print("");

// Get All Diamonds:
let diamonds = cards.filter(c => c.suit === 'D'); // length: 13
printObject("diamonds:", diamonds);
print("");

// Get All Face Cards
let faceCards = cards.filter(c => c.value > 10); // length: 12
printObject("faceCards:", faceCards);
print("");

// Get All Face Cards That Are Hearts
let heartFaceCards = cards.filter(c => c.value > 10 && c.suit === 'H'); // length: 3
printObject("heartFaceCards:", heartFaceCards);

</textarea>

<!-- ---------------------------- EXAMPLE 16 ---------------------------- -->
<!-- Reduce Example -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var arr = [5, 7, 2, 4];
var sum = arr.reduce((a, b) => a += b);
print(`sum: ${sum}`);
</textarea>


<!-- ---------------------------- EXAMPLE 17 ---------------------------- -->
<!-- Array Object Check Example -->
<textarea placeholder="Add JavaScript Here" class="d-none">
<script>
// Here is a way to tell the type of a JavaScript Object
var o = new Object();
print(`o.toString(): ${o.toString()}`); 
print("");

// If we print a function, we see the literal function
var fn = function(x) {return x;}
print(`fn.toString(): ${fn.toString()}`);
print("");

// If we print a String, we see the String
var x = new String("Hi"); 
print(`x.toString(): ${x.toString()}`);
print("");

// If we print an Array, we see the Array. 
var arr = ['a', 'b'];
print(`arr.toString() ${arr.toString()}`);
print("");

// We can use the top most parent (Object) to
// determine the type of the array.
 
// ".call" allows for a function/method belonging to 
// one object to be assigned and called for a 
// different object.
var arr = [5, 7, 2, 4];
print(Object.prototype.toString.call(arr));
print("");

// FYI - this can be shorted to simply
print(toString.call(arr));
print("");

// If we create our own object and find its type
// we should see [object Object]
var foo = {"first name" : "Jeffery"};
print(toString.call(foo));
print("");

var myArr = new Array(1,2);
print(toString.call(myArr));

</textarea>



<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
